# This file is maintained centrally at
# https://github.com/giantswarm/github/blob/main/languages/python/.pre-commit-config.yaml

minimum_pre_commit_version: 1.21.0
repos:
    - repo: meta
      hooks:
          - id: check-useless-excludes

    - repo: https://github.com/astral-sh/uv-pre-commit
      # uv version.
      rev: 0.9.16
      hooks:
          - id: uv-lock

    - repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
      rev: v0.14.5
      hooks:
          # Run the linter.
          - id: ruff-check
            args: [--fix]
          # Run the formatter.
          - id: ruff-format

    # static type checking with mypy
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.18.2
      hooks:
          - id: mypy

    # shell scripts
    - repo: https://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint
            args: [--format=json]

    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.46.0
      hooks:
          - id: markdownlint

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-added-large-files
          - id: check-docstring-first
          - id: debug-statements
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-ast
          - id: check-builtin-literals
          - id: detect-private-key
          - id: mixed-line-ending
