[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyyaml = "==5.3.1"
pre-commit = "*"
black = "==20.8b1"
mypy = "*"
bandit = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
configargparse = "*"
gitpython = "*"
dependency-injector = "*"
semver = "*"

[requires]
python_version = "3.8"
