[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
pyyaml = "*"
configargparse = "*"
gitpython = "*"
dependency-injector = "==4.3.2"
semver = "*"
validators = "*"
pytest-helm-charts = "*"

[requires]
python_version = "3.8"
