[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = ">=2.13"
pytest = ">=6.2.4"
pytest-cov = ">=2.12"
pytest-mock = ">=3.6"
yamale = "*"

[packages]
pyyaml = ">=5.4"
configargparse = ">=1.5"
validators = ">=0.18"
pytest-helm-charts = ">=0.5"
step-exec-lib = ">=0.2.2"
semver = ">=2.13"
gitpython = ">=3.1.41"
pillow = ">=9.4.0"
cairosvg = ">=2.5.2"

[requires]
python_version = "3.12"
