version: 2.1

orbs:
  architect: giantswarm/architect@0.13.0

workflows:
  test:
    jobs:
      - run-tests

      - architect/push-to-docker:
          name: push-app-build-suite-to-quay
          image: "quay.io/giantswarm/app-build-suite"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          filters:
            # Needed to trigger job also on git tag.
            tags:
              only: /^v.*/

jobs:
  run-tests:
    executor: architect/architect
    steps:
      - checkout

      - setup_remote_docker

      - run:
          name: Execute tests
          command: |
            make docker-build-test
