version: 2.1

orbs:
  architect: giantswarm/architect@0.17.1
  codecov: codecov/codecov@1.0.2

workflows:
  test:
    jobs:
      - run-tests:
          name: run-tests
          filters:
            # Needed to trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-app-build-suite-to-quay
          requires:
            - run-tests
          context: architect
          image: "quay.io/giantswarm/app-build-suite"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          filters:
            # Needed to trigger job also on git tag.
            tags:
              only: /^v.*/

      - augment-circleci-dockerfile:
          name: augment-circleci-dockerfile
          requires:
            - push-app-build-suite-to-quay
          filters:
            # Needed to trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-app-build-suite-circle-ci-to-quay
          requires:
            - push-app-build-suite-to-quay
            - augment-circleci-dockerfile
          context: architect
          image: "quay.io/giantswarm/app-build-suite"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          dockerfile: "./circleci.Dockerfile"
          tag-suffix: "-circleci"
          filters:
            # Needed to trigger job also on git tag.
            tags:
              only: /^v.*/
      - publish-github-release:
          name: publish-github-release-for-dabs
          requires:
            - push-app-build-suite-circle-ci-to-quay
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/


jobs:
  augment-circleci-dockerfile:
    executor: "architect/architect"
    steps:
      - checkout
      - run:
          name: Generate container tag like architect orb does it
          command: |
            echo -n "quay.io/giantswarm/app-build-suite:$(architect project version)" > .docker_image_name
      - run:
          name: augment circleci.Dockerfile
          command: |
            CURRENT_TAG="$(cat .docker_image_name)"
            sed -i -e "s|FROM changeme|FROM ${CURRENT_TAG}|" circleci.Dockerfile
      - persist_to_workspace:
          root: "."
          paths:
            - "circleci.Dockerfile"

  run-tests:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout

      - run:
          name: Execute tests
          command: |
            make docker-test-ci

      - codecov/upload:
          file: .coverage/coverage.xml

  publish-github-release:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - checkout
      - run:
          name: "Publish Release on GitHub"
          command: |
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} ./dabs.sh
