version: 2.1

orbs:
    architect: giantswarm/architect@6.8.0
    codecov: codecov/codecov@5.4.3

workflows:
    test:
        jobs:
            - run-tests:
                  name: run-tests
                  filters:
                      tags:
                          only: /^v.*/

            - architect/push-to-registries:
                  context: architect
                  name: push-to-registries
                  registries-data: |-
                      public gsoci.azurecr.io ACR_GSOCI_USERNAME ACR_GSOCI_PASSWORD false
                  requires:
                      - run-tests
                  filters:
                      branches:
                          ignore:
                              - main
                              - master
                      tags:
                          only: /^v.*/

            - architect/push-to-registries:
                  context: architect
                  name: push-to-registries-augmented
                  dockerfile: "./circleci.Dockerfile"
                  tag-suffix: "-circleci"
                  registries-data: |-
                      public gsoci.azurecr.io ACR_GSOCI_USERNAME ACR_GSOCI_PASSWORD false
                  requires:
                      - run-tests
                      - push-to-registries
                  filters:
                      branches:
                          ignore:
                              - main
                              - master
                      tags:
                          only: /^v.*/

            - publish-github-release:
                  context: architect
                  name: publish-github-release-for-dabs
                  requires:
                      - push-to-registries-augmented
                  filters:
                      branches:
                          ignore: /.*/
                      tags:
                          only: /^v.*/

jobs:
    run-tests:
        machine:
            image: default
        steps:
            - checkout

            - run:
                  name: Execute tests
                  command: |
                      make docker-test-ci

            - codecov/upload

    publish-github-release:
        docker:
            - image: cibuilds/github:0.13
        steps:
            - checkout
            - run:
                  name: Publish Release on GitHub
                  command: |
                      ghr -t ${TAYLORBOT_CIRCLECI_RELEASE_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} ./dabs.sh
